body {
  margin: 0rem;
  padding: 0rem;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
header {
  min-height: 540px;
}
.background{
  background-image: url(../img/bg-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 540px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  box-shadow: 0 0 3em 0 rbga(0,0,0,.5) ;
}
.overlay{
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.35;
  filter: aplha(opacity=50);
  height: 540px;
  z-index: -1;
}
.heading{
  z-index: 2;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  color: black;
}
h1{
  margin-bottom: .5rem;
  font-size: 3rem;
  font-weight: 600;
}
h5{
  margin-top: 15px;
}

.headline-color{
  /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  font-family: 'Bungee Inline', cursive;
  font-weight: 400;
  font-size: 3.4rem;
  color: #19194d;
}
.search-container{
  display: block;
  margin-top: 3rem;
  width: 100%;
  background: #fff;
  border-left: 0;
  border-radius: 0.425rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}
.search-container input{
  width: 100%;
  padding-left: 10px;
  height: 60px;
  box-sizing: border-box;
  background-color: whitesmoke;
  border: 0;
  font-size: 1.4rem;
  color: #333;
}
.search-bar{
  display: flex;
  flex-direction: row;
}

.suggestions {
  border-top: 2px solid #7a7ad4;
  max-height: 10rem;
  display: none;
  z-index:10;
}

.suggestions.show {
  display: block;
}

.suggestions > div{
  padding: 15px;
  font-size: 16px;
  color: rgb(102, 102, 102);
  border-top: 0.5px solid #c6c6f1;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 0;
}

.suggestions > div:hover, .suggestions > div.selected {
  background-color: #d2daf3;
  color: #333;
}

.search-icon{
  margin-top: 3rem;
  width: 6rem;
  height: 60px;
  font-size: x-large;
  background-color: #333399;
  border-color: #2d2d86;
}

.news-container {
  position: relative;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row {
  margin-left: 5px;
  margin-right: 5px;
}
.card {
  min-width: 75em;
}
.stats-ul{
  margin: 0;
  padding-left: 0;
}
.stats-list{
  list-style: none;
  margin: 10px 0 15px 0;
  padding-left: 0;
  font-size: 1.1em;
  font-stretch: expanded;
}
.stats-list-value{
  font-weight: bold;
}
.newsHeadline{
  font-weight: bold;
}
.author{
  font-size: medium;
}
.news-placeholder{
  min-width: 740px;
}

@media screen and (max-width: 768px) {
  .container {
    width:100%;
    margin:0;
    border-radius:0;
  }
}